.container{
    display:flex;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
}

.card{
    height: 190px;
    width: 200px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 500;
    box-shadow: rgb(148, 215, 215) ;
    transition: all 0.2s ease-in-out;
}

.row{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.card:hover{
    background-color: rgb(148, 215, 215);
    font-size: large;
    color: rgb(255, 255, 255);
    transform: scale(1.05); /* Slightly enlarges */
    border-radius: 10px;
    cursor: pointer;
}